<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="card blue lighten-2">
        <div class="card-content white-text">
          <span class="card-title"><h3>Mision akinmueble</h3> </span>
        </div>
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
        consectetur lacinia tellus vitae rhoncus.Sed sagittis augue ac velit
        fermentum, eu tincidunt elit mollis. Lorem, ipsum dolor sit amet
        consectetur adipisicing elit. Id ullam ipsum mollitia temporibus!
        Numquam illo culpa incidunt quaerat excepturi eum. Quis voluptatem est
        placeat repellendus dolorem quae sunt sapiente natus.
      </p>
      <p>
        Ut lobortis massa lorem, in mattis nulla fringilla nec. Nulla facilisi.
        Nulla facilisi. Nulla
      </p>
      <p>
        Nullam lobortis urna a pulvinar tincidunt. Integer vel elit nec eros
        tristique scelerisque. Nulla facilisi. Nulla facilisi. Nulla facilisi.
        Nulla facilisi. Nulla facilisi. Nulla
        Id ullam ipsum mollitia temporibus!
        Numquam illo culpa incidunt quaerat excepturi eum. Quis voluptatem est
        placeat repellendus dolorem quae sunt sapiente natus.
      </p>
      <p>
        Id ullam ipsum mollitia temporibus!
        Numquam illo culpa incidunt quaerat excepturi eum. Quis voluptatem est
        placeat repellendus dolorem quae sunt sapiente natus.
      </p>
    </div>
  </div>
</div>
