@import url("https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css");

#login-page {
  width: 500px;
}

.card {
  position: absolute;
  left: 50%;
  top: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.show-errors {
  color: red;
}

.btn a {
  color: white;
}

.notification {
  top: 20px;
  left: 20px;
  background-color: #66b5e0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #000;
  text-align: center;
}

.error {
  background-color: #ff5050;
}
