<div id="login-page" class="row">
  <div class="col s12 z-depth-6 card-panel">
    <form [formGroup]="fGroup" class="login-form">
      <div class="row"></div>
      <div class="row">
        <div class="input-field col s12">
          <i class="fi fi-br-envelope"></i>
          <input
            formControlName="user"
            class="validate"
            id="email"
            type="email"
          />
          <label for="email" data-error="wrong" data-success="right"
            >Usuario</label
          >
          <div
            class="show-errors"
            *ngIf="
              getFormGroup['user'].errors &&
              (getFormGroup['user'].dirty || getFormGroup['user'].touched)
            "
          >
            <strong
              >Campo obligatorio (debe tener el formato de correo
              electrónico)</strong
            >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="fi fi-br-lock-alt"></i>
          <input formControlName="password" id="password" type="password" />
          <label for="password">Contraseña</label>
          <div
            class="show-errors"
            *ngIf="
              getFormGroup['password'].errors &&
              (getFormGroup['password'].dirty ||
                getFormGroup['password'].touched)
            "
          >
            <strong>Campo obligatorio</strong>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <button
            [disabled]="!fGroup.valid"
            (click)="IdentyUser()"
            class="btn waves-effect waves-light col s12"
          >
            Identificar
          </button>
        </div>
      </div>
      <div class="row" *ngIf="showError">
        <div class="input-field col s12">
          <div class="notification error">
            <p [innerHTML]="textError">
            </p>
          </div>
        </div>
      </div>
      <div id="respon" class="g-recaptcha" data-sitekey="6LdBGZMmAAAAADxxgxDl1IKFV9DjiFZ1CRpgcn1X" required></div>

      <div class="row">
        <div class="input-field col s6 m6 l6">
          <button class="margin medium-small waves-effect waves-light btn">
            <a routerLink="/security/register-form">Registrarse</a>
          </button>
        </div>
        <div class="input-field col s6 m6 l6">
          <button class="margin right-align medium-small">
            <a routerLink="/security/recover-password">Olvide mi contraseña</a>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
