*{
    font-family: 'Lato', sans-serif;
}
  
footer {
    box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.8);
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    padding: 2px 0;
}
  
.footer-content {
    display: flex;
    flex-direction: column;
}

.footer-social a{
    text-align: center;
    align-items: center;
    padding: 3px;
}
    
.footer-credit{
    margin-top: 1px;
    text-align: left;
    color: black;
    font-size: 10px;
}

  
  
  
