<div class="row">
    <form class="col s12" [formGroup]="cargaArchivoFG">
        <div class="row">
            <div class="showImage center-align">
                <img *ngIf="!archivoCargado" src="/assets/img/default.png" class="imagenProducto" />
                <!-- <img *ngIf="archivoCargado" src="{{BASE_URL}}ObtenerArchivo/1/{{nombreArchivoCargado}}" class="imagenProducto" /> -->
            </div>
        </div>
        <div class="file-field input-field row">
            <div class="btn col s3">
                <span>Seleccionar Archivo</span>
                <input (change)="CuandoSeleccionaArchivo($event)" name="image" type="file">
            </div>
            <div class="file-path-wrapper col s9">
                <input class="file-path validate" type="text">
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <input type="button" class="btn" value="Subir Archivo" (click)="CargarArchivo()" />
            </div>
        </div>
    </form>
</div>