.esp{
padding-left: 30px;

}
.button-row {
    height: 50px; /* Establece la altura deseada para cada fila de botones */
    display: flex;
    align-items: center;
  }
.button-width{
    width: 190px;
 }
 .notification {
  margin-top: 25px;
  height: 70px;
  width: 190px;
  background-color: #66b5e0;
  border-radius: 5px;
  border: 1px solid #000;
  text-align: center;
}
.error {
  background-color: #ff5050;
}