<div class="row">
  <div class="col s12 m6">
    <div class="card">
      <div class="card-image">
        <img src="imagen.jpg" />
        <span class="card-title">Título de la imagen</span>
      </div>
      <div class="card-content">
        <p>Descripción 1</p>
        <p>Descripción 2</p>
        <p>Descripción 3</p>
      </div>
      <div class="card-action">
        <a href="#" class="waves-effect waves-light btn">Botón</a>
      </div>
    </div>
  </div>

  <div class="col s12 m6">
    <div class="card">
      <div class="card-image">
        <img src="imagen.jpg" />
        <span class="card-title">Título de la imagen</span>
      </div>
      <div class="card-content">
        <p>Descripción 1</p>
        <p>Descripción 2</p>
        <p>Descripción 3</p>
      </div>
      <div class="card-action">
        <a href="#" class="waves-effect waves-light btn">Botón</a>
      </div>
    </div>
  </div>
</div>


