<div style="padding-top: 35px">
  <div
    style="
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 0 30px;
    "
  >
    <mat-form-field appearance="fill">
      <mat-label>Select offer type</mat-label>
      <mat-select [(value)]="offerType">
        <mat-option value="0">No aplica</mat-option>
        <mat-option value="1">Renta</mat-option>
        <mat-option value="2">Venta</mat-option>
        <mat-option value="3">Renta Venta</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" style="margin-left: 30px">
      <mat-label>Select property type</mat-label>
      <mat-select [(value)]="propertyType">
        <mat-option value="0">No aplica</mat-option>
        <mat-option value="1">Casa</mat-option>
        <mat-option value="2">Local Comercial</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div style="display: flex; justify-content: flex-end; padding: 30px">
    <button
      (click)="filtrarPropiedades()"
      class="waves-effect waves-light btn custom-button-send"
    >
      Submit
    </button>
  </div>
</div>
<div style="padding-bottom: 75px; padding-top: 40">
  <div class="row">
    <div class="col s12 m6 l4 xl3" *ngFor="let propiedad of propiedades" >
      <div class="card" style="height: 620px;">
        <div style="margin: 20px">
          <span class="card-title">Propiedad # {{ propiedad.id }}</span>
          <div class="card-image">
            <img
              height="250px"
              width="250px"
              [src]="getFirstImageUrl(propiedad)"
            />
          </div>
          <div class="card-content">
            <p>precio: {{ propiedad.price }}</p>
            <p>direccion: {{ propiedad.address }}</p>
            <p>tipo de oferta: {{ propiedad.offerTypeId }}</p>
          </div>
          <div class="card-action">

            <div class="button-row">
              <a href="#" class="btn waves-effect waves-light btn-block button-width">Botón 1</a>
            </div>

            <div class="button-row" *ngIf="!sesionActive">
              <a class="btn waves-effect waves-light btn-block button-width" (click)="buttonSolInfo(propiedad)">Solicitar info.</a>
            </div>

            <div class="button-row" *ngIf="sesionActive">
              <a class="btn waves-effect waves-light btn-block button-width" (click)="createRequest(propiedad)">Solicitar prop.</a>
            </div>

            <div class="button-row"  *ngIf="peticionRepetida && propRep === propiedad.id"> 
                <div class="notification error">
                  <p>Ya cuentas con una solicitud en curso!
                  </p>
                </div>     
            </div>
            
          </div>     
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <app-confirm-modal [title]="confirmModalTitle" [description]="descriptionConfirmModal"  (response)="responseModal($event)"></app-confirm-modal> -->
