.white-text {
    color: white;
}

.notification {
    top: 20px;
    left: 20px;
    background-color: #66b5e0;
    padding: 3px;
    border-radius: 5px;
    border: 1px solid #000;
    text-align: center;
  }
  
  .error {
    background-color: #ff5050;
  }
  .mar{
    padding-bottom: 5px;
  }