<div id="change-password-page" class="row">
    <div class="col s12 z-depth-6 card-panel">
      <form [formGroup]="fGroup" class="login-form">
        <div class="row">
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="fi fi-br-lock-alt"></i>
            <input formControlName="passwordActual" id="password" type="password">
            <label for="password">Contraseña actual</label>
            <div class="show-errors" *ngIf="getFormGroup['passwordActual'].errors 
            && (getFormGroup['passwordActual'].dirty || getFormGroup['passwordActual'].touched)">
            </div>
            <strong>Campo obligatorio</strong>
          </div>

          <div class="input-field col s12">
              <i class="fi fi-br-lock-alt"></i>
              <input formControlName="passwordActual" id="password" type="password">
              <label for="password">nueva contraseña</label>
              <div class="show-errors" *ngIf="getFormGroup['passwordActual'].errors 
              && (getFormGroup['passwordActual'].dirty || getFormGroup['passwordActual'].touched)">
              </div>
              <strong>Campo obligatorio</strong>
            </div>
            <div class="input-field col s12">
              <i class="fi fi-br-lock-alt"></i>
              <input formControlName="passwordActual" id="password" type="password">
              <label for="password">confirma la nueva contraseña</label>
              <div class="show-errors" *ngIf="getFormGroup['passwordActual'].errors 
              && (getFormGroup['passwordActual'].dirty || getFormGroup['passwordActual'].touched)">
              </div>
              <strong>Campo obligatorio</strong>
            </div>
        </div> 
        <div class="row">
          <div class="input-field col s12">
            <!-- <button (click)="IdentyUser()" class="btn waves-effect waves-light col s12">Identificar</button> -->
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6 m6 l6">
            <p class="margin medium-small waves-effect waves-light btn"><a routerLink="/security/register-form">Registrarse</a></p>
          </div>
          <div class="input-field col s6 m6 l6">
              <p class="margin right-align medium-small"><a routerLink="/security/recover-password">Olvide mi contraseña</a></p>
          </div>          
        </div>
      </form>
    </div>
  </div>