*{
    font-family: 'Lato', sans-serif;
}
.wraper-conten{
    overflow: hidden;
    height:90vh;
    overflow-y: scroll;
    scroll-behavior: auto;
    padding-bottom:100px ;
}
@import url('https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css')