.label-item{
    margin-right: 5px;
    font-size: 1rem;
}

.reports-wraper{
    background-color: rgb(236, 240, 240);
    padding: 1rem;
    margin-top: 1rem;
}

.report-title{
    font-weight: 700;
}