.btn {
  background-color: blue;
  width: 40px;
  height: 40px;
  padding-left: 10px;
  padding-top: 8px;
  margin-left: 10px;
  margin-top: 10px;
  transition: transform 0.3s ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
}

.btn a {
  color: white;
}

@media (max-width: 992px) {
  .menu-container {
    display: none;
  }
}

