.logo_menu {
  height: 50px;
  padding: 5px 0px 0px 5px;
}

nav ul li a {
  color: #2a556d;
}

nav ul li a:hover {
  color: black;
}

@import url('https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css')
