<div class="table-wraper">
  <table *ngIf="table.rows.length > 0; else elseBlock" class="striped table">
    <thead>
      <tr class="tr-head">
        <th *ngFor="let col of table.columnNames">{{ col }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of table.rows" class="row">
        <td>{{ row.id }}</td>
        <td>
          {{ row.advisor.firstName }} {{ row.advisor.firtsLastName }} <br />
          C.C.{{ row.advisor.documentNumber }}
        </td>
        <td>{{ row.property.city.department.departmentName }}</td>
        <td>{{ row.property.city.cityName }}</td>
        <td>{{ row.property.address }}</td>
        <td>{{ row.property.propertyType.typeName }}</td>
        <td>{{ row.requestStatus.statusName }}</td>
        <td class="actions">
          <i class="action-button fa-regular fa-eye"></i>
          <i
            *ngIf="row.contractSource && row.contractSource != ''"
            class="action-button fa-regular fa-circle-down"
            (click)="downLoadContract(row.contractSource)"
          ></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #elseBlock>
  <div class="no-data">
    <span> No hay solicitudes para listar </span>
  </div>
</ng-template>

<!-- <app-confirm-modal></app-confirm-modal> -->
