* {
  color: black;
}

form {
  padding: 20px;
}

.custom-button-send {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-button {
  background-color: #66b5e0;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 3px;
  font-size: 14px;
}

.custom-button.active {
  background-color: #3498db;
}

.message-modal {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 9999;
  background-color: #66b5e0;
  padding: 10px;
  border-radius: 5px;
}

.success {
  color: green;
}

.error {
  color: white;
}
