.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.left {
  background-color: #f0f0f0;
}

.right {
  background-color: #e0e0e0;
}

.btn {
  color: white;
  margin: 10px;
}

.error {
  background-color: #ff5050;
}

.notification {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 9999;
  background-color: #66b5e0;
  padding: 10px;
  border-radius: 5px;
}
