<div class="container">
  <div class="left">
    <h1>Descargar contrato</h1>
    <label for="contractId" style="margin: 10px;">Ingrese el ID del contrato a descargar :</label>
    <input type="text" style="margin: 10px; width: 75%;" id="contractId" [(ngModel)]="contractId" />
    <button (click)="getContract()" class="margin medium-small waves-effect waves-light btn">Descargar</button>
  </div>
  <div class="right">
    <h1>Subir contrato</h1>
    <label for="contractId" style="margin: 10px;">Ingrese el ID del contrato a subir :</label>
    <input type="text" style="margin: 10px; width: 75%;" id="contractId" />
    <button class="margin medium-small waves-effect waves-light btn">No hago nada todavía</button>
  </div>
</div>

<div *ngIf="showError" class="notification error">
    El ID del contrato no existe.
</div>

